/* I always do this for my projects. */
html,
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}


.hidden {
    display: none;
}

@font-face {
    font-family: "Pally";
    src: url("fonts/Pally-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: rgb(92, 143, 255) solid 2px;
}

#login-btn {
    padding: 0;
    height: 35px;
    width: 35px;
    background: none;
    cursor: pointer;
    border-radius: 40px;
    border: 2px dashed rgb(156, 156, 156);
    font-size: 14px;
    justify-content: center;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#login-btn:hover {
    background-color: rgb(233, 233, 233);
    transform: rotate(30deg);
    cursor: pointer;
}

#send-btn {
    background-color: rgb(92, 143, 255);
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.navbar h1 {
    font-family: "Pally", sans-serif;
    font-weight: 100;
}

.input-container {
    justify-content: center;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* That input at the bottom of the screen (not to be confused with chatbox, which is the box that shows the message.) */
#chat {
    background: none;
    backdrop-filter: blur(4px);
    width: 70%;
    z-index: 1000;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    border: 2px rgb(92, 143, 255) solid;
}

.chatbox {
    width: fit-content;
    max-width: 30%;
    background-color: rgba(241, 241, 241,);
    padding: 10px;
    margin: 20px;
    margin-top: 10px;
    overflow-wrap: break-word
}

.ai {
    border-radius: 20px;
    border-bottom-left-radius: 0%;
    background-color: lightgray;
}

.user {
    background-color: rgb(156, 156, 255);
    text-align: right;
    border-radius: 20px;
    border-bottom-right-radius: 0%;
}

.chatbox-container {
    justify-content: right;
    display: flex;
}
/* These are the loader properties */
.loader-box {
    justify-content: center;
    display: flex;
    align-items: center;
}

.loader {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    opacity: 0.1;
    animation: loader 1s ease-in-out infinite;
}

.first {
    margin-left: 0;
}

.second {
    animation-delay: 0.1s;
}

.third {
    animation-delay: 0.2s;
}

@keyframes loader {
    0% {opacity: 0.1;}
    50% {opacity: 1;}
    100% {opacity: 0.1;}
}